@import "src/styles/base/constants";

footer {
    width: 100%;
    border-top: 1px solid $grey-200;

    .container {
        padding-top: $spacing-200;
        padding-bottom: $spacing-200;
        gap: $spacing-200;
    }

    .links {
        display: flex;
        justify-content: center;
        gap: $spacing-50;

        margin: 0 auto;
        padding: $spacing-100;
        
        background: hsl(0deg, 0%, 96%);
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    .bottom {
        padding: $spacing-75;
        text-align: center;

        p { font-weight: 500; }
    }
}