<footer>
    <div class="container fl-root">
        <div class="fl-1">
            <h5>Heading</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
        <div class="fl-1">
            <h5>Heading</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
        <div class="fl-1">
            <h5>Heading</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
    </div>
    <div class="links">
        <ng-content></ng-content>
    </div>
    <div class="bottom">
        <p class="no-margin">Copyright © 2023</p>
    </div>

</footer>