@import "src/styles/base/constants";

footer {
    width: 100%;
    margin-top: 100px;
    //padding-bottom: 31.5px;
    //border-top: 1px solid $grey-200;

    .container {
        padding-top: 0;
        padding-bottom: 0;
        gap: $spacing-200;
    }

    .links {
        display: flex;
        justify-content: center;
        gap: $spacing-50;

        margin: 0 auto;
        padding: $spacing-100;

        border-top: 1px solid lightgray;
        //border-bottom: 1px solid lightgray;
    }

    .bottom {
        padding: $spacing-75;
        text-align: center;

        p {
            font-weight: 500;
        }
    }
}