@import "src/styles/base/constants";

header {   
    position: fixed;
    width: 100%;
    z-index: 10;
    
    line-height: 1;
    background: white;
    
    .content {
        padding: $spacing-200;
        border-bottom: 1px solid transparent;
        
        transition: 0.7s ease;
    }
    
    &.scrolled .content {
        padding: $spacing-100 $spacing-200;
        border-color: $grey-200;
    }
}