<header [ngClass]="{'scrolled' : scrollPercentage != null && this.scrollPercentage > 0}">
    <div class="fl-root content">
        <div class="fl-root fl-col">
            <div class="fl-1"></div>
            
            <div class="fl-1"></div>
        </div>
        <div class="fl-1"></div>
        <div class="fl-root fl-col">
            <div class="fl-1"></div>
            <nav class="fl-root gap-50">
                <app-icon-button [icon]="'dark_mode'" [classes]="'text-gradient'"></app-icon-button>
                <app-icon-button [icon]="'menu'" [classes]="'text-gradient'" (onClick)='menuService.open()'></app-icon-button>
            </nav>
            <div class="fl-1"></div>
        </div>
    </div>
</header>

<div [ngStyle]="{'padding-top.px': offset}"></div>