@import 'src/styles/base/constants';

header {   
    position: fixed;
    width: 100%;
    line-height: 1;
    
    .content {
        padding: $spacing-200;
        border-bottom: 1px solid transparent;
        
        transition: 0.7s ease;
    }
    
    &.scrolled .content {
        padding: $spacing-100 $spacing-200;
        border-color: $light-grey;
        box-shadow: 0px 0px 10px hsla(0deg, 0%, 0%, 0.05);
    }
}