@import 'src/styles/base/constants';

header {   
    position: fixed;
    width: 100%;
    line-height: 1;
    
    .content {
        padding: $space-200;
        border-bottom: 1px solid transparent;
        
        transition: 0.7s ease;
    }
    
    &.scrolled .content {
        padding: $space-100 $space-200;
        //TODO: Move to a variable in the _constants.scss file
        border-color: hsl(0, 0%, 83%);;
        box-shadow: 0px 6px 14px hsla(0deg, 0%, 0%, 0.05);
    }
}