<div class='root'>
    <div class='left'>
    </div>
    <div class='right'>
        <div class='fl-root'>
        <h2 class='no-margin fl-1'>Article Title</h2>
        <app-info-capsule [icon]='"calendar_month"' [text]='"2020-01-24"'/>
        </div>
        <div class='tags'>
            <!--TODO: Tags into component -->
            <a href='javascript:void(0)'>Unity</a>
            <a href='javascript:void(0)'>C#</a>
            <a href='javascript:void(0)'>Tag</a>
            <a href='javascript:void(0)'>.NET</a>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere urna nec tincidunt praesent semper feugiat nibh. In vitae turpis massa sed elementum tempus. Laoreet id donec ultrices tincidunt arcu non sodales neque sodales.</p>
        <div></div>
        <a href='javascript:void(0)'>Read More</a>
    </div>
</div>