@import 'base/typography';
@import 'base/layout';

//DEBUG
html {
    height: 2000px;
}

body {
    height: 100%;
}

.container {
    max-width: calc(1200px + ($spacing-300 * 2));
    margin: 0 auto;
    padding: $spacing-300;
}

.inset {box-shadow: $inset-shadow;}