<div id="nav" class="nav" [class.open]="open">
    <nav class="inner">
        <ul>
            <li>
                <app-icon-button [icon]="'close'" (onClick)="closeMenu()"></app-icon-button>
            </li>
            <li>
                <a href="#main" class="h4 no-margin">Home</a>
            </li>
            <li>
                <a href="#projects" class="h4 no-margin">Blog</a>
            </li>
            <li>
                <a href="#services" class="h4 no-margin">About</a>
            </li>
        </ul>
    </nav>
</div>