<div
    class='root'
    [ngStyle]="{
        'background': themeService.colors?.background?.cssValue, 
        'color': themeService.colors?.primary?.cssValue
    }"
>
    <app-header [scrollPercentage]='scrollPercentage$ | async' />
    <app-side-nav />
    <app-focus-blocker [isVisible]='blockerIsVisible$ | async' />
    <main class='fl-1'>
        <app-container>
            <router-outlet />
        </app-container>
    </main>
    <app-footer>
        <a href='javascript:void(0)' class='pill-link'>
            <div class='inner'>
                <span class='fa fa-github'></span>
                <p class='no-margin'>GitHub</p>
            </div>
        </a>
        <a href='javascript:void(0)' class='pill-link'>
            <div class='inner'>
                <span class='fa-brands fa-linkedin'></span>
                <p class='no-margin'>LinkedIn</p>
            </div>
        </a>
    </app-footer>
</div>
