<app-header [scrollPercentage]="scrollPercentage$ | async">
    <app-icon-button class="buttons" [icon]="'dark_mode'"></app-icon-button>
    <app-icon-button class="buttons" [icon]="'light_mode'"></app-icon-button>
    <app-icon-button class="buttons" [icon]="'menu'" (onClick)="openMenu()"></app-icon-button>
</app-header>

<app-navigation-menu [open]="menuOpen | async"></app-navigation-menu>

<div class="container">

    <main class="fl-1">
        <router-outlet></router-outlet>
    </main>
    
    <app-footer>
        <app-icon-button [icon]="'hourglass_empty'" [classes]="'rounded hover'"></app-icon-button>
        <app-icon-button [icon]="'hourglass_empty'" [classes]="'rounded hover'"></app-icon-button>
        <app-icon-button [icon]="'hourglass_empty'" [classes]="'rounded hover'"></app-icon-button>
    </app-footer>

</div>