<div
    class='root'
    [ngStyle]="{
        'background': themeService.colors?.background?.cssValue, 
        'color': themeService.colors?.primary?.cssValue
    }"
>
    <app-header [scrollPercentage]='scrollPercentage$ | async'></app-header>
    <app-side-nav />
    <app-focus-blocker [isVisible]='blockerIsVisible$ | async' />
    <main class='fl-1'>
        <app-container>
            <router-outlet />
        </app-container>
    </main>
    <app-footer>
        <app-icon-button [icon]="'hourglass_empty'" [classes]="'rounded hover'" />
        <app-icon-button [icon]="'hourglass_empty'" [classes]="'rounded hover'" />
        <app-icon-button [icon]="'hourglass_empty'" [classes]="'rounded hover'" />
    </app-footer>
</div>
