<div *ngIf='metadata' class='blog-head'>
    <div class='meta-left'>
        <h1 class='title no-margin'>{{metadata.title}}</h1>
        <div class='published inset'>
            <span class='material-symbols-rounded inset'>calendar_month</span>
            <p class='no-margin'>{{metadata.date}}</p>
        </div>
        <div class='tags'>
            <a *ngFor='let tag of metadata.tags'
               routerLink='/category/{{tag.replace(" ", "").toLowerCase()}}'>{{tag}}</a>
        </div>
        <a href='{{metadata.socialUrl}}' class='author-box fl-root'>
            <div class='headshot fl-init'></div>
            <div class='fl-root author'>
                <div></div>
                <div class='details'>
                    <p class='text-gradient name'>{{metadata.author}}</p>
                    <p class='no-margin'>{{metadata.socialName}}</p>
                </div>
            </div>
        </a>
    </div>
    <div></div>
    <div class='meta-right'>
        <div></div>
        <!--TODO: Component-->
        <div class='read-time published inset'>
            <span class='material-symbols-rounded inset'>schedule</span>
            <p class='no-margin'>{{metadata.readTime}} Minutes</p>
        </div>
    </div>
</div>
<!--
<a href='javascript:void(0)' class='title-link'>
    <span class='link-icon material-symbols-rounded'>share</span>
    <h1 class='title'>{{metadata.title}}</h1>
</a>
-->