<div *ngIf='metadata' class='blog-head'>
    <div class='meta-left'>
        <h1 class='title no-margin'>{{metadata.title}}</h1>
        <app-info-capsule [icon]='"calendar_month"' text='{{metadata.date}}' />
        <div class='tags'>
            <app-tag *ngFor='let tag of metadata.tags' [category]='tag'></app-tag>
        </div>
        <a href='{{metadata.socialUrl}}' class='author-box fl-root'>
            <div
                class='border'
                [ngStyle]='{"background": themeService.getGradientString("bottom")}'
            ></div>
            <div class='headshot fl-init'></div>
            <div class='fl-root author'>
                <div></div>
                <div class='details'>
                    <p class='text-gradient name'>{{metadata.author}}</p>
                    <p class='no-margin'>{{metadata.socialName}}</p>
                </div>
            </div>
        </a>
    </div>
    <div></div>
    <div class='meta-right'>
        <div></div>
        <app-info-capsule [icon]='"schedule"' text='{{metadata.readTime}} mins' />
    </div>
</div>