@import 'constants';

.no-margin { margin: 0 !important; }
.bold { font-weight: 600; }

.fl-root { display: flex; }
.fl-col { flex-direction: column; }

.fl-1 { flex: 1; }
.fl-init { flex: initial; }

.gap-50 { gap: $spacing-50; }
.gap-100 { gap: $spacing-100; }